@media (max-width: 600px) {
    .gallery img {
        width: 120px;
        height: 80px;
    }
}
body {
    font-family: 'Segoe UI', Arial, sans-serif;
    background: #232a34;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.heading h1 {
    text-align: center;
    color:#9ab;
  
  display: grid;
#  grid-template-columns: 1fr max-content 1fr;
  grid-gap: 15px;
  align-items: center;
}

.heading h1:after,.heading h1:before {
    content: " ";
    border-bottom: 1px solid #888888;
    height: 1px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 32px;
    margin: 32px auto;
    max-width: 95%;
}

.gallery img {
    cursor: pointer;
    width: 225px;
    height: 150px;
    object-fit: contain;
    background: none;
    padding: 0;
    border: 1px solid #667788;
    
}

.gallery img:hover {
    transform: scale(1.08);
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #444;
    font-size: 36px;
    font-weight: bold;
    cursor: pointer;
    z-index: 1001;
    text-shadow: 0px 0px 5px #FFffff; /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
}

.fullscreen {
    position: absolute;
    top: 10px;
    right: 60px;
    color: #444;
    font-size: 36px;
    font-weight: bold;
    cursor: pointer;
    z-index: 1001;
    text-shadow: 0px 0px 5px #FFffff; /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
}

.counter {
    position: absolute;
    top: 15px;
    left: 10px;
    color: #444;
    font-size: 12px;
    cursor: pointer;
    z-index: 1001;
    text-shadow: 0px 0px 5px #FFffff; /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
}

.slider-nav {
    position: absolute;
    top: 15px;
    color: #444;
    font-size: 24px;
    cursor: pointer;
    z-index: 1001;
    text-shadow: 0px 0px 8px #FFffff; /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
}

#nav1 {
    left: 40vw;
}

#nav2 {
    left: 60vw;
}

.thumb {
    object-fit: contain;
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
}

.thumb-box {
    display: flex;
    align-items: center;
    object-fit: contain;
    justify-content: center;
    background: none;
    box-shadow: 0 8px 32px 8px rgba(0,0,0,0.35);
}
