* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-height: 75vh;
    font-size: 15px;
    font-family: system-ui, Arial, Helvetica, sans-serif;
    background-color: rgb(238, 240, 242);
}

main {
    width: 100%;
    background-color: white;
    padding: 20px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

ul,ol {
    padding-left: 2rem;
    margin-bottom: 0.5rem
}

h1,h2 {
    margin-bottom: 1em;
}

a {
    text-decoration: none;
    color: unset;
}

a:hover {
    text-decoration: underline;
}
.slider {
    display: none;
    position: relative;
    align-items: center;
    justify-content: center;
}

.slider .slides {
    max-width: 90vw;
    max-height: 80vh;
    min-width: 90vw;
    min-height: 80vh;
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    gap: 0px 10px;
    scrollbar-width: none;
    margin-bottom: 10px;
}

.slider .slide {
    scroll-snap-align: center;
    display: flex;
    justify-content: center;
}

.slider .slides .content {
    max-width: 90vw;
    max-height: 80vh;
    min-width: 90vw;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider .slides .content img {
    max-width: 90vw;
    max-height: 80vh;
    min-width: 90vw;
    min-height: 80vh;
    object-fit: contain;
    border-radius: 10px;
}

.slider .slider-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.slider .slider-nav .slider-arrow {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.slider .slider-nav .slider-arrow img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.2;
}

.slider .slider-nav .slider-arrow.previous img {
    transform: rotate(180deg);
}

.slider .slider-nav .slider-arrow img:hover {
    cursor: pointer;
    color: black;
    opacity: 0.4;
}

.slider .slider-nav .radios {
    bottom: 7px;
    display: flex;
    gap: 15px;
    justify-content: center;
}

.slider .slider-nav .radios input {
    appearance: none;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    border: solid 1px transparent;
}

.slider .slider-nav .radios input:checked {
    background-color: rgba(0, 0, 0, 0.4);
}

.slider .slider-nav .radios input:hover {
    background-color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
}
